*{
    padding: 0;
    margin: 0;
    list-style: none;
    box-sizing: border-box;
}
a{
    text-decoration: none;
}
@font-face {
    font-family: LucidaGrande;
    src: url('../ttc/LucidaGrande.woff2');
}
h1,h3,h4{
    font-family: "Noto Serif TC";
}
h2{
    font-family: LucidaGrande;
}
.main-multimedia-page{
    background-color:#0e1e3c ;
    overflow-x: hidden;
    font-family: "Noto Serif TC";
    color: #fff;
}
.work-title,
.theses-title{
    display: flex;
    user-select: none;
}
.work-title  h1,
.theses-title h1{
    letter-spacing: .5em;
    text-indent: .5em;
    padding: 20px 40px;
    margin: 100px auto 40px;
    background: url('../bg and icon/bg_board.png') no-repeat center 17px;
    background-size: 100%;
}
.work-title{
    font-size: 50px;
}
.theses-title h1{
    font-size: 45px;
    padding-left: 60px;
}
.breadcrumb,
.breadcrumb ul{
    display: flex;
    margin: auto;
}

.breadcrumb ul li{
    margin: 20px;
    font-size: 24px;
    letter-spacing: 8px;
    text-indent: 8px;
    position: relative;
}
.breadcrumb ul li+li::before{
    content: '';
    position: absolute;
    width: 2px;
    height: 1em;
    background-color: #fff;
    left: -20px;
    bottom: 5px;
}
.breadcrumb ul li a{
    display: block;
    transition: .1s ease-in-out;
}
.btn-author{
    width: 136px;
    text-align: center;
}
.breadcrumb ul li a::after{
    content: 'ˇ';
    position: absolute;
    text-align: center;
    width: 136px;
    right: 0;
    bottom: -1.5em;
    transition: .3s .05s ease-in-out;
}
.breadcrumb ul li:hover a,
.breadcrumb ul li a:hover::after,
.bc-m-hover{
    transform: translateY(8px);
}

#concept{
    display: flex;
    width: 850px;
    margin: 80px auto;
}
#concept .concept-title,
#concept .concept-txt{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
#concept .concept-title{
    width: 25%;
    text-align: center;
}
#concept .concept-title h1,
.content-title h1,
.abstract-title h1,
.team-title h1,
.author-title h1,
.adviser-title h1{
    margin: 0;
    font-size: 60px;
    letter-spacing: 8px;
    text-indent: 8px;
}

#concept .concept-txt,
.member .txt p,
.author .txt p,
.adviser-box p{
    font-size: 18px;
    letter-spacing: 2px;
}
#concept .concept-txt{
    width: 60%;
}
/* some deco */

.concept-deco,
.concept-deco-t-ver,
.content-deco,
.team-deco,
.adviser-deco{
    width: 900px;
    height: 20px;
    margin: auto;
    background: url("../bg and icon/bg_line.png") no-repeat center;
    background-size: 100%;
}

.concept-deco,
.concept-deco-t-ver,
.team-deco{
    transform: scaleX(-1);
    position: relative;
}

.concept-deco img,
.concept-deco-t-ver img,
.concept-deco::after{
    width: 200px;
    position: absolute;
    bottom: -15px;
    left: calc(0% - 50px);
    transform: scaleX(-1);
}

.concept-deco::after{
    content: '';
    height: 206.41px;
    background: url('../bg and icon/i_izakaya.svg') no-repeat;
    background-size: 100%;
    opacity: 1;
    transition: .3s;
}

.concept-deco:hover::after{
    opacity: 0;
}

.content-deco{
    margin-top: 10px;
}


.team-deco img{
    width: 250px;
    position: absolute;
    bottom: -105px;
    left: -10%;
    transform: scaleX(-1);
    transition: .5s;
}

.team-deco img:hover{
    bottom: -50px;
    left: -5%;
}

.content-title,
.abstract-title,
.team-title,
.author-title,
.adviser-title{
    display: block;
    text-align: center;
    margin: 80px 0;
}

#content{
    background: url('../bg and icon/bg_blue_balls.png') no-repeat center bottom;
    background-size: 75%;
}
#content,
#abstract,
#team,
#author,
#adviser,
.slide-container{
    margin-bottom: 150px;
}
/* that box */

.slide-container{
    display: flex;
    justify-content: center;
    align-items: center;
}

:root {
    --swiper-theme-color: #fff;
}
.swiper-container {
    width: 600px;
    height: 400px;
    /* overflow: hidden; */
    position: relative;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}


.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.swiper-container {
    margin-left: auto;
    margin-right: auto;
}
.iframe-container{
    display: flex;
}

.iframe-container iframe{
    margin: auto;
}

/* team */

.team-container,
.author-container,
.adviser-container{
    display: flex;
    margin: auto;
    width: 900px;
}

.team-container{
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.member,
.author{
    width: 270px;
    text-align: center;
}
.member{
    margin: 15px;
}
.author{
    margin: auto;
}
.member .pic,
.author .pic{
    margin: 30px;
    border-radius: 50%;
    overflow: hidden;
}

.member .pic img,
.author .pic img{
    width: 100%;
}

.member .txt
.author .txt{
    letter-spacing: 2px;
    text-indent: 2px;
}

.member .txt h3,
.author .txt h3,
.member .txt h4{
    color: #ffde85;
}

/* adviser */
.adviser-container .pic,
.adviser-container .txt{
    text-align: center;
    margin: auto 20px;
}
.adviser-container .pic{
    width: 40%;
}
.adviser-container .pic img{
    width: 100%;
}
.adviser-container .txt{
    width: 60%;
    display: flex;
    flex-direction: column;
    letter-spacing: 2px;
    text-indent: 2px;
    padding: 0 20px;
}

.adviser-container .txt h1{
    position: relative;
}

.adviser-container .txt h1:after{
    content: '';
    width: 100%;
    height: 1px;
    background-color: #fff;
    position: absolute;
    display: block;
    bottom: -10px;
}

.adviser-box{
    flex-grow: 1;
    max-height: 200px;
    overflow: auto;
    margin-top: 1em;
    padding: 0 .75em ;
    transition: 1s;
}

.scroll-box{
    overflow: auto;
}

.adviser-box::-webkit-scrollbar{
    width: 2px;
}
.adviser-box::-webkit-scrollbar-track{
    background: transparent;
}
.adviser-box::-webkit-scrollbar-thumb{
    background: rgb(211, 209, 209);
    border-radius: 5px;
}
.adviser-box::-webkit-scrollbar-thumb:hover{
    background: #fff;
}
.adviser-container .txt button{
    width: 150px;
    background: none;
    border: none;
    outline: none;
    margin: 10px auto 0;
    cursor: pointer;
}

.link-container{
    margin-bottom: 100px;
}
.link-container ul{
    display: flex;
    width: 850px;
    height: 40px;
    line-height: 40px;
    margin: 20px auto;
    font-family: LucidaGrande;
}

.link-container ul li{
    letter-spacing: 2px;
    text-indent: 2px;
    position: relative;
}

.visit{
    margin: 0 20px;
}

.visit::before,
.share::before{
    content: '';
    width: 20px;
    height: 20px;
    position: absolute;
    left: -30px;
    top: 10px;
}

.visit::before{
    background: url('../bg and icon/i_brown_c1.png') no-repeat center;
    background-size: 100%;
}

.share::before{
    background: url('../bg and icon/i_brown_c2.png') no-repeat center;
    background-size: 100%;
}


.visit::after{
    content: '';
    position: absolute;
    height: 1px;
    width: 0;
    left: 0;
    background-color: #fff;
    bottom: 5px;
    transition: .8s;
}

.visit:hover::after{
    width: 100%;
}

.share{
    display: flex;
    margin-left: auto;
}

.share a{
    width: 40px;
    height: 40px;
    position: relative;
    margin: 0 5px;
    
}
.share a img{
    transform: scale(.9);
    transition: .3s;
}

.share a:hover img{
    transform: scale(1);
}

@media screen and (max-width:1024px) {
    #concept{
        width: 700px;
    }

    #concept .concept-title h1,
    .content-title h1,
    .abstract-title h1,
    .team-title h1,
    .author-title h1,
    .adviser-title h1{
        font-size: 50px;
    }

    .concept-deco,
    .concept-deco-t-ver,
    .content-deco,
    .team-deco,
    .adviser-deco{
        width: 750px;
    }

    .concept-deco img,
    .concept-deco-t-ver img,
    .concept-deco::after{
        width: 150px;
    }

    .concept-deco::after{
        height: 154.8px;
    }

    #content{
        background-size: 90%;
    }

    #content,
    #abstract,
    #team,
    #author,
    #adviser,
    .slide-container{
        margin-bottom: 100px;
    }
    
    .team-container,
    .author-container{
        width: 750px;
    }

    .member{
        width: 240px;
        margin: 5px;
    }
    .author{
        width: 240px;
    }
    .adviser-container{
        width: 700px;
    }

    .link-container ul{
        width: 700px;
    }
    .link-container ul li{
        font-size: 12px;
    }
}

@media screen and (max-width:768px) {
    .breadcrumb ul li{
        margin: 2px;
        font-size: 20px;
    }
    .breadcrumb ul li+li::before{
        width: 1.5px;
        left: -2px;
        bottom: 4px;
    }

    .btn-author,
    .breadcrumb ul li a::after{
        width: 120px;
    }

    #concept{
        width: 495px;
    }
    #concept .concept-title{
        width: 30%;
    }
    #concept .concept-title h1,
    .content-title h1,
    .abstract-title h1,
    .team-title h1,
    .author-title h1,
    .adviser-title h1{
        font-size: 40px;
    }
    #concept .concept-txt,
    .member .txt p,
    .author .txt p,
    .adviser-box p{
        font-size: 16px;
    }
    #concept .concept-txt{
        width: 65%;
    }
    .concept-deco,
    .concept-deco-t-ver,
    .content-deco,
    .team-deco,
    .adviser-deco{
        width: 500px;
    }

    .concept-deco img,
    .concept-deco-t-ver img,
    .concept-deco::after{
        width: 120px;
        left: calc(0% - 20px);
    }

    .concept-deco::after{
        height: 123.84px;
    }

    .team-deco img{
        width: 150px;
        bottom: -55px;
        left: -5%;
    }
    .content-title,
    .abstract-title,
    .team-title,
    .author-title,
    .adviser-title{
        margin: 40px 0;
    }
    #content{
        background: url('../bg and icon/bg_blue_balls.png') no-repeat center 50px;
        background-size: 100%;
    }

    #content,
    #abstract,
    #team,
    #author,
    #adviser,
    .slide-container{
        margin-bottom: 80px;
    }

    .swiper-container{
        width: 480px;
        height: 320px;
    }

    .team-container,
    .author-container,
    .adviser-container,
    .link-container ul{
        width: 500px;
    }
   
    .member,
    .author{
        width: 220px;
    }

    .member .pic,
    .author .pic{
        margin: 15px;
    }

    .member .txt h3,
    .author .txt h3,
    .adviser-container .txt h3{
        font-size: 20px;
    }
    .member .txt h4{
        font-size: 18px;
    }
    .adviser-container .txt h1{
        font-size: 32px;
    }
  
    .adviser-container .txt{
        padding: 0;
    }
    
    .visit{
        display: none;
    }
    .share{
        margin-left: 40px;
    }

    .share a{
        width: 30px;
    }

}

@media screen and (max-width:500px) {
    .work-title  h1,
    .theses-title h1{
        font-size: 36px;
        margin-top: 60px;
    } 
    .breadcrumb ul li{
        font-size: 14px;
        letter-spacing: 4px;
        text-indent: 4px;
    }
    .breadcrumb ul li+li::before{
        bottom: 3.5px;
        width: 1px;
    }

    .btn-author,
    .breadcrumb ul li a::after{
        width: 74px;
    }
    .breadcrumb ul li:hover a,
    .breadcrumb ul li a:hover::after,
    .bc-m-hover{
        transform: translateY(4px);
    }
    #concept{
        width: 320px;
    }
    #concept .concept-title h1,
    .content-title h1,
    .abstract-title h1,
    .team-title h1,
    .author-title h1,
    .adviser-title h1{
        font-size: 30px;
    }
    
    #concept .concept-txt,
    .member .txt p,
    .author .txt p,
    .adviser-box p{
        font-size: 12px;
    }

    .concept-deco,
    .concept-deco-t-ver,
    .content-deco,
    .team-deco,
    .adviser-deco{
        width: 320px;
        height: 50px;
    }
    .concept-deco,
    .concept-deco-t-ver,
    .team-deco{
        transform: scaleX(1);
    }
    .concept-deco,
    .concept-deco-t-ver{
        background: url("../bg and icon/bg_line_p1.png") no-repeat center;
        background-size: 130%;
    }
    .content-deco{
        background: url("../bg and icon/bg_line_p2.png") no-repeat center;
        background-size: 130%;
    }
    
    .team-deco{
        background: url("../bg and icon/bg_line_p3.png") no-repeat center;
        background-size: 130%;
    }
    
    .adviser-deco{
        background: url("../bg and icon/bg_line_p4.png") no-repeat center;
        background-size: 130%;
    }
    .concept-deco img,
    .concept-deco-t-ver img,
    .team-deco img{
        transform: scaleX(1);
    }
    .concept-deco img,
    .concept-deco-t-ver img{
        width: 80px;
        left:80%;
    }
    .concept-deco::after{
        display: none;
    }

    .team-deco img{
        width: 100px;
        bottom: -20px;
        left: 65%;
    }
    .team-deco img:hover{
        bottom: -20px;
        left: 65%;
    }
    
    #content{
        background: none;
    }
    .iframe-container iframe{
        width: 320px;
        height: 180px;
    }

    .swiper-container{
        width: 300px;
        height: 200px;
    }

    .team-container,
    .author-container,
    .adviser-container,
    .link-container,
    .link-container ul{
        width: 320px;
    }

    .link-container{
        display: flex;
        margin: auto;
    }
    .link-container ul{
        margin: -20px 20px 0 0;
        justify-content: flex-end;
    }

    .member{
        width: 155px;
        margin: 2.5px;
    }
    .author{
        width: 155px;
    }

    .member .txt h3,
    .author .txt h3,
    .adviser-container .txt h3{
        font-size: 16px;
    }
    .member .txt h4{
        font-size: 13px;
    }
    .adviser-container .pic,
    .adviser-container .txt{
        margin: auto 5px;
    }

    .adviser-container .txt h1{
        font-size: 24px;
    }
  
    .share{
        margin-left: 40px;
    }
    .share::before{
        display: none;
    }
}